/* set to entire page, under body tag */
body {
  user-select: none;
}

.App {
  max-width: 300px;
  margin: auto;
  background: white;
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg-cardbody {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(233, 228, 148, 1) 100%
  );
  border-radius: 0.2rem;
}

.hovr:hover {
  background: palegoldenrod;
  cursor: pointer;
  /* border: 1px solid blue; */
  /* position: absolute; */
}

.cultivatorActive {
  border: 2px solid rgb(147, 9, 69);
}

.userHighliter {
  vertical-align: middle;
  width: fit-content;
  background: rgb(236, 255, 30);
  border-radius: 1em;
  border: 3px solid rgb(147, 9, 69);
}

.mobileSideBarPositionAbsolute {
  /* background-color: lightgrey; */
  /* max-width: 40%; */
  /* background-color: rgba(155, 140, 179, 1) */
  /* opacity: 1 */
  position: absolute;
  /* display:none; */
  z-index: 2;
  background: #a8b1b0;
}

/* axios Loading */
.axiosLoading {
  display: none;
  position: fixed;
  z-index: 99999999999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url("loading.gif") 50% 50% no-repeat;
}

body.loading .axiosLoading {
  /*// css selector ancistor child */
  display: block;
}
body.loading {
  overflow: hidden;
}
